<p style="text-align: right; padding-top: 10px; padding-right: 10px">
<a href="/">Find</a> &nbsp; &nbsp; &nbsp;
<a href="/i/register">Register</a> &nbsp; &nbsp; &nbsp;
<a href="/i/about">About</a>
</p>
