<html>
<head>
<title>BDSM Slave Registration Number Error Page></title>
<% include partials/head %>
</head>
<body>
<% include partials/header %>
<div class="mainbox">

<h1>SLRN <%= slave.slave_id %></h1>
<p style="text-align: center; padding-bottom: 5px"><%= slave.message %></p>
</div>
<% include partials/footer %>
</body>
</html>
