<html>
<head>
<title>BDSM Slave Registration Number Error Page></title>
<% include partials/head %>
</head>
<body>
<% include partials/header %>
<div class="mainbox">
<h1 class="mainpage" style="padding: 20px">The BDSM Slave Register</h1>
<h2>SLRN <%= slave.slave_id %></h2>
<p style="text-align: center; padding-bottom: 5px"><%= slave.message %></p>
</div>
<% include partials/footer %>
</body>
</html>
