<html>
<head>
<title>The BDSM Slave Register - Master/slave, O&amp;P, SLRN, certificates</title>
<% include partials/head %>

</head>
<body>

<div class="mainbox">
<h1 class="mainpage" style="padding: 20px">Welcome to the BDSM Slave Register</h1>

<p>If you are new to BDSM Slave Register then get started by creating an account to hold your information.
if you have already an account then you can simply login.</p>
<p><%= slave.message %></p>
<p class="lookupform">
  <input type="button" value="Register" class="lookupinput" onclick="window.location.href='/p/register';">
  <input type="button" value="Login" class="lookupinput" onclick="window.location.href='/p/login';">
</p>
<% include partials/footer %>
</div>
</body>

</html>
